In [3]:
import pandas as pd

c = pd.read_csv("car_prices.csv")
### Preview first 15 rows of your dataset

In [10]:
print(c["color"].dtype)

object

In [11]:
# Convert non-numeric values to NaN
c["color"] = pd.to_numeric(c["color"], errors='coerce')

In [12]:
# Calculate the mean, excluding NaN values
x = c["color"].mean()

In [13]:
# Fill missing values with the calculated mean
c["color"].fillna(x, inplace=True)

In [16]:
print(c)

        year    make                model         trim       body  \
0       2015     Kia              Sorento           LX        SUV
1       2015     Kia              Sorento           LX        SUV
2       2014     BMW             3 Series   328i SULEV      Sedan
3       2015   Volvo                  S60           T5      Sedan
4       2014     BMW  6 Series Gran Coupe         650i      Sedan
...      ...     ...                  ...          ...        ...
558832  2015     Kia                 K900       Luxury      Sedan
558833  2012     Ram                 2500  Power Wagon   Crew Cab
558834  2012     BMW                   X5    xDrive35d        SUV
558835  2015  Nissan               Altima        2.5 S      sedan
558836  2014    Ford                F-150          XLT  SuperCrew

       transmission                vin state  condition  odometer  \
0         automatic  5xyktca69fg566472    ca        5.0   16639.0
1         automatic  5xyktca69fg561319    ca        5.0    9393.0
2         automatic  wba3c1c51ek116351    ca       45.0    1331.0
3         automatic  yv1612tb4f1310987    ca       41.0   14282.0
4         automatic  wba6b2c57ed129731    ca       43.0    2641.0
...             ...                ...   ...        ...       ...
558832          NaN  knalw4d4xf6019304    in       45.0   18255.0
558833    automatic  3c6td5et6cg112407    wa        5.0   54393.0
558834    automatic  5uxzw0c58cl668465    ca       48.0   50561.0
558835    automatic  1n4al3ap0fc216050    ga       38.0   16658.0
558836    automatic  1ftfw1et2eke87277    ca       34.0   15008.0

              color interior  \
0       9048.115385    black
1       9048.115385    beige
2       9048.115385    black
3       9048.115385    black
4       9048.115385    black
...             ...      ...
558832  9048.115385    black
558833  9048.115385    black
558834  9048.115385    black
558835  9048.115385    black
558836  9048.115385     gray

                                                   seller      mmr  \
0                                 kia motors america  inc  20500.0
1                                 kia motors america  inc  20800.0
2                  financial services remarketing (lease)  31900.0
3                                 volvo na rep/world omni  27500.0
4                  financial services remarketing (lease)  66000.0
...                                                   ...      ...
558832                                   avis corporation  35300.0
558833                                    i -5 uhlmann rv  30200.0
558834             financial services remarketing (lease)  29800.0
558835  enterprise vehicle exchange / tra / rental / t...  15100.0
558836                   ford motor credit company llc pd  29600.0

        sellingprice                                 saledate
0            21500.0  Tue Dec 16 2014 12:30:00 GMT-0800 (PST)
1            21500.0  Tue Dec 16 2014 12:30:00 GMT-0800 (PST)
2            30000.0  Thu Jan 15 2015 04:30:00 GMT-0800 (PST)
3            27750.0  Thu Jan 29 2015 04:30:00 GMT-0800 (PST)
4            67000.0  Thu Dec 18 2014 12:30:00 GMT-0800 (PST)
...              ...                                      ...
558832       33000.0  Thu Jul 09 2015 07:00:00 GMT-0700 (PDT)
558833       30800.0  Wed Jul 08 2015 09:30:00 GMT-0700 (PDT)
558834       34000.0  Wed Jul 08 2015 09:30:00 GMT-0700 (PDT)
558835       11100.0  Thu Jul 09 2015 06:45:00 GMT-0700 (PDT)
558836       26700.0  Thu May 28 2015 05:30:00 GMT-0700 (PDT)

[558837 rows x 16 columns]

In [17]:
c.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 558837 entries, 0 to 558836
Data columns (total 16 columns):
 #   Column        Non-Null Count   Dtype
---  ------        --------------   -----
 0   year          558837 non-null  int64
 1   make          548536 non-null  object
 2   model         548438 non-null  object
 3   trim          548186 non-null  object
 4   body          545642 non-null  object
 5   transmission  493485 non-null  object
 6   vin           558833 non-null  object
 7   state         558837 non-null  object
 8   condition     547017 non-null  float64
 9   odometer      558743 non-null  float64
 10  color         558837 non-null  float64
 11  interior      558088 non-null  object
 12  seller        558837 non-null  object
 13  mmr           558799 non-null  float64
 14  sellingprice  558825 non-null  float64
 15  saledate      558825 non-null  object
dtypes: float64(5), int64(1), object(10)
memory usage: 68.2+ MB