In [286]:
#import des libs
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler, OneHotEncoder, LabelEncoder
from sklearn.compose import ColumnTransformer
from sklearn.linear_model import LinearRegression
from sklearn.impute import SimpleImputer
import seaborn as sns
import matplotlib.pyplot as plt
import seaborn as sns
import matplotlib.pyplot as plt

In [287]:
#chemin

file_path = "car_prices.csv"

#read le file

df = pd.read_csv(file_path)

In [288]:
#Avant suppression des lignes 
df.isna().sum()

year                0
make            10301
model           10399
trim            10651
body            13195
transmission    65352
vin                 4
state               0
condition       11820
odometer           94
color             749
interior          749
seller              0
mmr                38
sellingprice       12
saledate           12
dtype: int64

In [289]:


#fill with 'Other' category
df['make'].fillna('Other', inplace=True)
df['color'].fillna('Other', inplace=True)

#fill with 'Mode'
df['body'].fillna(df.body.mode()[0], inplace=True)
df['interior'].fillna(df['interior'].mode()[0], inplace=True)

#remove null values
df.dropna(subset=['saledate'], inplace=True)

#supprime la colonnes spécifié
df = df.drop(['saledate'], axis=1)
df = df.drop(['model'], axis=1)
df = df.drop(['vin'], axis=1)
df = df.drop(['transmission'], axis=1)
df = df.drop(['trim'], axis=1)

df.isna().sum()

year                0
make                0
body                0
state               0
condition       11820
odometer           94
color               0
interior            0
seller              0
mmr                26
sellingprice        0
dtype: int64

In [290]:
# Assuming your DataFrame is named 'df'

# Create a list containing the feature column names
features_list = ["year", "make", "body",
                 "state", "condition", "odometer", "color", "interior", "seller", "mmr"]

# Select features (all columns except 'sellingprice')
X = df[features_list]

# Select the target variable (sellingprice)
y = df['sellingprice']

# Print confirmation message
print("Features (X):")
print(X.head())

print("\nTarget Variable (y):")
print(y.head())

print("...Done.")

Features (X):
   year   make   body state  condition  odometer  color interior  \
0  2015    Kia    SUV    ca        5.0   16639.0  white    black
1  2015    Kia    SUV    ca        5.0    9393.0  white    beige
2  2014    BMW  Sedan    ca       45.0    1331.0   gray    black
3  2015  Volvo  Sedan    ca       41.0   14282.0  white    black
4  2014    BMW  Sedan    ca       43.0    2641.0   gray    black

                                   seller      mmr
0                 kia motors america  inc  20500.0
1                 kia motors america  inc  20800.0
2  financial services remarketing (lease)  31900.0
3                 volvo na rep/world omni  27500.0
4  financial services remarketing (lease)  66000.0

Target Variable (y):
0    21500.0
1    21500.0
2    30000.0
3    27750.0
4    67000.0
Name: sellingprice, dtype: float64
...Done.

In [291]:
df.isnull().any()

year            False
make            False
body            False
state           False
condition        True
odometer         True
color           False
interior        False
seller          False
mmr              True
sellingprice    False
dtype: bool

In [292]:
# Divide dataset Train set & Test set 
## First we import train_test_split


print("Splitting dataset into train set and test set...")
## Then we use train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, 
                                                    test_size=0.2, 
                                                    random_state=0) # Allows you to stratify your sample. 
                                                                # Meaning, you will have the same
                                                                # proportion of categories in test 
                                                                # and train set

print("...Done.")

Splitting dataset into train set and test set...
...Done.

In [293]:
# Missing values
print("Imputing missing values...")
print(X_train)
print()
imputer = SimpleImputer(strategy="mean") # Instanciate class of SimpleImputer with strategy of mean

X_train.iloc[:,[4,5,9]] = imputer.fit_transform(X_train.iloc[:,[4,5,9]]) # Fit and transform columns where there are missing values
print("...Done!")
print(X_train) 
print()

Imputing missing values...
        year           make   body state  condition  odometer   color  \
423720  2013        Hyundai  sedan    ca       35.0   19868.0   brown
405371  2012          Other  Sedan    ca       43.0   42124.0   white
276233  2014         Toyota  Sedan    fl       21.0   18492.0    gray
501838  2014      Chevrolet  sedan    va       42.0   13291.0   black
29933   2014         Nissan  Sedan    il       43.0    4666.0  silver
...      ...            ...    ...   ...        ...       ...     ...
359784  2009       Cadillac    SUV    ca       38.0   67465.0  silver
152315  2012         Nissan  Sedan    tx       26.0   39318.0   white
117952  2005         Toyota  Sedan    ca       29.0  133859.0    gray
435836  2013           Ford    SUV    fl       28.0   34693.0     red
305711  2014  Mercedes-Benz  Sedan    nv       44.0   26227.0   white

       interior                                  seller      mmr
423720      tan                   hyundai motor finance  11650.0
405371    black  financial services remarketing (lease)  38000.0
276233     gray            florida auto financial group  16350.0
501838     gray                            gm financial  11450.0
29933     black                        first merit bank  15550.0
...         ...                                     ...      ...
359784    black                      ontario auto sales  26400.0
152315     gray                      nissan-infiniti lt  11750.0
117952    black                  nuvision financial fcu   6225.0
435836    black           ford motor credit company llc  26000.0
305711        —        mercedes-benz financial services  39700.0

[447060 rows x 10 columns]

...Done!
        year           make   body state  condition  odometer   color  \
423720  2013        Hyundai  sedan    ca       35.0   19868.0   brown
405371  2012          Other  Sedan    ca       43.0   42124.0   white
276233  2014         Toyota  Sedan    fl       21.0   18492.0    gray
501838  2014      Chevrolet  sedan    va       42.0   13291.0   black
29933   2014         Nissan  Sedan    il       43.0    4666.0  silver
...      ...            ...    ...   ...        ...       ...     ...
359784  2009       Cadillac    SUV    ca       38.0   67465.0  silver
152315  2012         Nissan  Sedan    tx       26.0   39318.0   white
117952  2005         Toyota  Sedan    ca       29.0  133859.0    gray
435836  2013           Ford    SUV    fl       28.0   34693.0     red
305711  2014  Mercedes-Benz  Sedan    nv       44.0   26227.0   white

       interior                                  seller      mmr
423720      tan                   hyundai motor finance  11650.0
405371    black  financial services remarketing (lease)  38000.0
276233     gray            florida auto financial group  16350.0
501838     gray                            gm financial  11450.0
29933     black                        first merit bank  15550.0
...         ...                                     ...      ...
359784    black                      ontario auto sales  26400.0
152315     gray                      nissan-infiniti lt  11750.0
117952    black                  nuvision financial fcu   6225.0
435836    black           ford motor credit company llc  26000.0
305711        —        mercedes-benz financial services  39700.0

[447060 rows x 10 columns]

In [294]:
# Accéder à l'objet index
index_df = df.index

# Accéder aux noms des colonnes
noms_colonnes = df.columns

# Combiner les index et les noms des colonnes
index_avec_colonnes = list(zip(index_df, noms_colonnes))

# Afficher les index avec les noms des colonnes
print(index_avec_colonnes)

[(0, 'year'), (1, 'make'), (2, 'body'), (3, 'state'), (4, 'condition'), (5, 'odometer'), (6, 'color'), (7, 'interior'), (8, 'seller'), (9, 'mmr'), (10, 'sellingprice')]

In [295]:
# Missing values
print("Imputing missing values...")
print(X_test)
print()
imputer = SimpleImputer(strategy="mean") # Instanciate class of SimpleImputer with strategy of mean

X_test.iloc[:,[4,5,9]] = imputer.fit_transform(X_test.iloc[:,[4,5,9]]) # Fit and transform columns where there are missing values
print("...Done!")
print(X_test) 
print()

Imputing missing values...
        year        make       body state  condition  odometer   color  \
110740  2013      Nissan      Sedan    nj       37.0   16487.0       —
405741  2015       Mazda        SUV    az       38.0   32578.0     red
4775    2002     Hyundai      Sedan    ca        NaN  190680.0   white
255183  2014         Kia      Sedan    wa       42.0   10141.0     red
375306  2006        Ford    Minivan    ma       21.0   38685.0    gray
...      ...         ...        ...   ...        ...       ...     ...
377973  2009      Saturn      Sedan    mn       34.0   93276.0  silver
163765  2002   Chevrolet      Sedan    mo       19.0  280581.0     red
229684  2007   Chevrolet      Sedan    mn       26.0  105923.0    gold
472459  2012       Acura        suv    wa        4.0   31318.0   white
126337  2011  Volkswagen  Hatchback    fl       24.0   71542.0   black

       interior                                 seller      mmr
110740     gray    nissan motor acceptance corporation  12100.0
405741      tan                       avis corporation  17300.0
4775          —                    acura of serramonte    850.0
255183     gray                kia motors america  inc  12750.0
375306     gray  ge fleet services for itself/servicer   2875.0
...         ...                                    ...      ...
377973     gray                     santander consumer   5350.0
163765     gray                           dt inventory    525.0
229684    beige                         lease plan usa   4550.0
472459    beige                     toyota of kirkland  26800.0
126337        —                     santander consumer   9100.0

[111765 rows x 10 columns]

...Done!
        year        make       body state  condition  odometer   color  \
110740  2013      Nissan      Sedan    nj  37.000000   16487.0       —
405741  2015       Mazda        SUV    az  38.000000   32578.0     red
4775    2002     Hyundai      Sedan    ca  30.714506  190680.0   white
255183  2014         Kia      Sedan    wa  42.000000   10141.0     red
375306  2006        Ford    Minivan    ma  21.000000   38685.0    gray
...      ...         ...        ...   ...        ...       ...     ...
377973  2009      Saturn      Sedan    mn  34.000000   93276.0  silver
163765  2002   Chevrolet      Sedan    mo  19.000000  280581.0     red
229684  2007   Chevrolet      Sedan    mn  26.000000  105923.0    gold
472459  2012       Acura        suv    wa   4.000000   31318.0   white
126337  2011  Volkswagen  Hatchback    fl  24.000000   71542.0   black

       interior                                 seller      mmr
110740     gray    nissan motor acceptance corporation  12100.0
405741      tan                       avis corporation  17300.0
4775          —                    acura of serramonte    850.0
255183     gray                kia motors america  inc  12750.0
375306     gray  ge fleet services for itself/servicer   2875.0
...         ...                                    ...      ...
377973     gray                     santander consumer   5350.0
163765     gray                           dt inventory    525.0
229684    beige                         lease plan usa   4550.0
472459    beige                     toyota of kirkland  26800.0
126337        —                     santander consumer   9100.0

[111765 rows x 10 columns]

In [296]:
# Encoding categorical features and standardizing numeric features
print("Encoding categorical features and standardizing numerical features...")
print()


numeric_features = [4,5,9]
numeric_transformer = StandardScaler()

categorical_features = [0, 1, 2, 3, 6, 7, 8]
categorical_transformer = OneHotEncoder(handle_unknown='ignore')

featureencoder = ColumnTransformer(
    transformers=[
        ('cat', categorical_transformer, categorical_features),    
        ('num', numeric_transformer, numeric_features)
        ]
    )

X_train = featureencoder.fit_transform(X_train)
print("...Done.")
print(X_train[:5]) # print first 5 rows (not using iloc since now X_train became a numpy array)
print()

Encoding categorical features and standardizing numerical features...

...Done.
  (0, 31)	1.0
  (0, 53)	1.0
  (0, 206)	1.0
  (0, 240)	1.0
  (0, 301)	1.0
  (0, 331)	1.0
  (0, 6330)	1.0
  (0, 13561)	0.32703567993171584
  (0, 13562)	-0.907199415112122
  (0, 13563)	-0.21891184666507
  (1, 30)	1.0
  (1, 72)	1.0
  (1, 165)	1.0
  (1, 240)	1.0
  (1, 315)	1.0
  (1, 319)	1.0
  (1, 4946)	1.0
  (1, 13561)	0.9301532305987624
  (1, 13562)	-0.49040899240908964
  (1, 13563)	2.5002133434527405
  (2, 32)	1.0
  (2, 84)	1.0
  (2, 165)	1.0
  (2, 242)	1.0
  (2, 305)	1.0
  (2, 324)	1.0
  (2, 5164)	1.0
  (2, 13561)	-0.7284200337356157
  (2, 13562)	-0.9329679099737042
  (2, 13563)	0.26609340546220556
  (3, 32)	1.0
  (3, 41)	1.0
  (3, 206)	1.0
  (3, 272)	1.0
  (3, 299)	1.0
  (3, 324)	1.0
  (3, 5620)	1.0
  (3, 13561)	0.8547635367653815
  (3, 13562)	-1.030367576961414
  (3, 13563)	-0.2395503680321881
  (4, 32)	1.0
  (4, 70)	1.0
  (4, 165)	1.0
  (4, 245)	1.0
  (4, 313)	1.0
  (4, 319)	1.0
  (4, 5020)	1.0
  (4, 13561)	0.9301532305987624
  (4, 13562)	-1.1918888474418983
  (4, 13563)	0.1835393199937331

In [297]:

### Testing pipeline ###
print("--- Testing pipeline ---")

# Standardizing numeric features
###print("Standardizing numerical features...")
###print(X_test)
###print()

X_test = featureencoder.transform(X_test)

###print("...Done.")
print(X_test[:5]) # print first 5 rows (not using iloc since now X_test became a numpy array)
###print()

--- Testing pipeline ---
  (0, 31)	1.0
  (0, 70)	1.0
  (0, 165)	1.0
  (0, 256)	1.0
  (0, 317)	1.0
  (0, 324)	1.0
  (0, 8951)	1.0
  (0, 13561)	0.47781506759847747
  (0, 13562)	-0.9705157531404718
  (0, 13563)	-0.17247517358905426
  (1, 33)	1.0
  (1, 66)	1.0
  (1, 164)	1.0
  (1, 239)	1.0
  (1, 312)	1.0
  (1, 331)	1.0
  (1, 1755)	1.0
  (1, 13561)	0.5532047614318583
  (1, 13562)	-0.6691779255113158
  (1, 13563)	0.36412638195601654
  (2, 20)	1.0
  (2, 53)	1.0
  (2, 165)	1.0
  (2, 240)	1.0
  (2, 315)	1.0
  (2, 334)	1.0
  (2, 616)	1.0
  (2, 13561)	0.00395362194406461
  (2, 13562)	2.2916146432429447
  (2, 13563)	-1.3333920004894477
  (3, 32)	1.0
  (3, 58)	1.0
  (3, 165)	1.0
  (3, 273)	1.0
  (3, 312)	1.0
  (3, 324)	1.0
  (3, 7017)	1.0
  (3, 13561)	0.8547635367653815
  (3, 13562)	-1.0893579540064604
  (3, 13563)	-0.10539997914592039
  (4, 24)	1.0
  (4, 48)	1.0
  (4, 156)	1.0
  (4, 248)	1.0
  (4, 305)	1.0
  (4, 324)	1.0
  (4, 5485)	1.0
  (4, 13561)	-0.7284200337356157
  (4, 13562)	-0.5548115024592212
  (4, 13563)	-1.124426971647377

In [298]:
# Train model
print("Train model...")
regressor = LinearRegression()
regressor.fit(X_train, y_train) # This steps is the actual training !
print("...Done.")

Train model...
...Done.

In [299]:
# Predictions on training set
print("Predictions on training set...")
y_train_pred = regressor.predict(X_train)
print("...Done.")
print(y_train_pred[:5]) # print first 5 rows (not using iloc since now y_train became a numpy array)
print()

Predictions on training set...
...Done.
[11798.64909472 38077.53052165 14789.69385157 11422.51784218
 15183.3517965 ]

In [300]:
# Predictions on test set
print("Predictions on test set...")
y_test_pred = regressor.predict(X_test)
print("...Done.")
print(y_test_pred[:5])
print()

Predictions on test set...
...Done.
[11516.83967188 17639.0809258   1012.55210677 13267.69281755
  2162.45096476]

In [301]:
# Performance assessment
print("--- Assessing the performances of the model ---")

# Print R^2 scores
print("R2 score on training set : ", regressor.score(X_train, y_train))
print("R2 score on test set : ", regressor.score(X_test, y_test))

--- Assessing the performances of the model ---
R2 score on training set :  0.9760337993993995
R2 score on test set :  0.9704574797295535